<header>
  <h1>SIMON CASEY - WEB DEVELOPER</h1>

  <div class="menubar">
    <a href="/about">ABOUT</a>
    <a href="/cv">CV</a>
    <a href="/projects">PROJECTS</a>
  </div>
</header>

{{outlet}}

<footer>
  <h5>CONTACT</h5>
  <p>github etc buttons will go here</p>
</footer>
